@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-base: #3B82BF;
    --font-base: "Bai Jamjuree";
}


* {
    font-family: var(--font-base), sans-serif;
    
}

/* NAVBAR */

.navbar {
    background: var(--color-base);
}

ion-icon {
    padding-top: 10px;
    color: white;
    height: 30px;
    width: 30px;
    
    
}

/* CARD */

.card-custom .card-custom-image {
    overflow: hidden;
    cursor: pointer;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

/* CARRINHO */


@media (min-width: 992px) {
    .carrinho {
        min-height: 100vh;
    }

}
.order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}








