@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-base: #3B82BF;
    --color-brand:#011526;
    --color-font: #0D0D0D;
    --font-base: "Bai Jamjuree";
}


* {
    font-family: var(--font-base), sans-serif;
    
}

/* NAVBAR */

.navbar {
    background: var(--color-base);
}

/* CARD */

.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}



